# Listas

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
nombres=["Juan", "Pedro", "Maria", "Duverli", "Bryan", "Esniver", "Usnavy", "Dualinquer"]
print(nombres)
print(nombres[0])

['Juan', 'Pedro', 'Maria', 'Duverli', 'Bryan', 'Esniver', 'Usnavy', 'Dualinquer']
Juan

In [ ]:
#CARLOS MAURICIO SUAREZ LOPEZ
lista1 = ["angela", "patricia", "isabella","carlos"]
print(lista1)

['angela', 'patricia', 'isabella', 'carlos']

In [ ]:
# Carolina Tovar cer칩n
list_nombres={"carolina" ,"daniela" ,"claudia" ,"fernando" ,"isabel" ,"antonia" ,"fernanda" ,"cristobal"}
print(list_nombres)

In [ ]:
#Cesar augusto Tique arbelaez

list1=["juan","pedro","cesar","augusto"]
print(list1)

## Funci칩n **len()**

In [ ]:
list1=["juan","pedro","cesar","augusto"]
len(list1)

4

## Concatenar listas

Se concatenan las listas usando el s칤mbolo +

In [ ]:
nombres=["Juan", "Pedro", "Maria", "Duverli", "Bryan", "Esniver", "Usnavy", "Dualinquer"]
apellidos=["Birbiqu칤", "Sampues", "Chuchim칤", "Cader칤n", "Pasto", "Pernir", "Aduj칰", "Berm칤"]
concatenada_Nombres_Apellidos= nombres + apellidos

print(concatenada_Nombres_Apellidos)

['Juan', 'Pedro', 'Maria', 'Duverli', 'Bryan', 'Esniver', 'Usnavy', 'Dualinquer', 'Birbiqu칤', 'Sampues', 'Chuchim칤', 'Cader칤n', 'Pasto', 'Pernir', 'Aduj칰', 'Berm칤']

## Agregar elementos a una lista

Se puede agregar un elemento nuevo a una lista con el s칤mbolo + y agregando el nuevo elemneto en [ ]

In [ ]:
lista2=[3, 4, 5, 6, 7, 8, 9, 10 ,11, 12]
#Agregar el n칰mero 13 sin volver a hacer la lista

lista2= lista2 + [13]
print(lista2)

# otra forma que se puede agregar un elemento a la lista con .append

lista2.append(13)
print(lista2)

# otra forma es con la funci칩n .insert a la cual se le puede dar la posici칩n en la lista con .insert(posici칩n, elemento)
lista2.insert(3, 13)
print(lista2)

#Si se desea imprimir varios elementos de la lista se puede usar el rango con [ : ]
lista2=[3, 4, 5, 6, 7, 8, 9, 10 ,11, 12]
print(lista2[0:6])

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 13]
[3, 4, 5, 13, 6, 7, 8, 9, 10, 11, 12, 13, 13]
[3, 4, 5, 6, 7, 8]

# Ciclo *for*

游

In [ ]:
numbers=[1,2,3,4,5,6,7]

for a in numbers:
  print(a)

1
2
3
4
5
6
7

In [ ]:
numbers=[1,2,3,4,5,6,7]

for a in numbers:
  print(a, end =" ")

1234567

In [ ]:
nombres=["angela", "patricia", "isabella","carlos"]

for a in nombres:
  print(a, end =" ")

angela patricia isabella carlos

In [ ]:
for a in nombres:
  print(a)

angela
patricia
isabella
carlos

# Problemas en clase

In [ ]:
lista1=["pedro", "2", "chamorro", "Colombia", "Tranquite" ,"Isbell" ,"Antonio" ,"Fernanda" ,"Alfredito","Jenny","Cristina"]
lista2=[3, 4, 5, 6, 7, 8, 9, 10 ,11, 12]
lista3=["Cartagena", "Barranquilla", "Santa Marta", "Malambo" ,"Aracataca" ,"Cove침as" ,"Sincelejo" ,"Ponedera", "Mompox", "Soled치","Mamatoco"]
print(lista1[0], lista1[4], lista1[9])
print(lista2[0], lista2[4], lista2[9])
print(lista3[0], lista3[4], lista3[9])

pedro fernando cristobal
3 7 12
Cartagena Aracataca Soled치

In [ ]:
print("El tama침o de la lista es:", len(lista1))
print("El tama침o de la lista es:",len(lista2))
print("El tama침o de la lista es:",len(lista3))

El tama침o de la lista es: 11
El tama침o de la lista es: 10
El tama침o de la lista es: 11

Tengo una lista y la van a llenar de n칰meros y luego imprimen los n칰meros pares de la lista. 游

In [ ]:
numerosList=[1,2,56,78,45,34,22,44]

for i in numerosList:
  if i % 2 == 0:
    print(i)
  else:
    print("Fin")

Fin
2
56
78
Fin
34
22
44